.barra{
    height: 80px;
    background: #cccccc;
    font-family: Berlin Sans FB;
   
    padding-top: 5px;
    border-style: solid ;
}

.titulo{
    margin-top: 0px;
    font-size: 50px;
     color:black;
}

.iconoSalir{
    font-size: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    text-decoration: none;
}

.centro{
    text-align: center;
}

.iconoAgregar{
    width: 50px;
    height: 50px;
}